body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
  }


.centrado{
  font-size: 30px;
}

.card-title{
  color: black;
}

#p1{
  text-align: center;

}
/*.card_horizontal{
  width:  100px;
}*/
  /*main {
    flex: 1 0 auto;
  }

  .col{
  	height: 500px;
  }
  .mapa{
    padding-top: 50px;
  }*/


